@charset "UTF-8";

@font-face {
    font-family:  idroid;
    src: url(fontes/idroid.otf) format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,300&family=Roboto:wght@300;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:rgb(101, 201, 139);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}

header {
    background-image: linear-gradient(to bottom,rgb(101, 201, 139), rgb(41, 133, 79), 70%, rgb(3, 51, 25));
    color: rgb(206, 212, 218);
    font-weight: 300;
    width: 100%;
    min-height: 115px;
    max-height: 136px;
    padding: 10px 10px 2px 10px;
    box-shadow: -4px 2px 10px rgba(0, 0, 0, 0.705);
}

header > h1 {
    font: normal normal 2.1em Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
header > p {
    font-family: "Roboto Condensed";
    font-weight: 300;
    font-style: italic;
    margin: 20px;
    text-align: center;
}

nav > a {
    color: rgb(206, 212, 218);
    padding: 10px 15px 2px 15px;
    font-size: 14px;
    text-align: right;
    display: inline;
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover {
    background-color: rgba(90, 153, 116, 0.438);
    border-radius: 8px 8px 0px 0px;
    transition-duration: 0.5s; 
}

main {
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
    border-radius: 0px 0px 7px 7px; 
    margin: auto;
    min-width: 300px;
    max-width: 800px;
}

section > p {
    text-indent: 30px;
    line-height: 1.5em;
}
.titulos {
    font-family: "idroid";
    color: rgb(4, 75, 33);
    margin: 20px 0px 15px 8px;
    padding: 2px 5px;
}

section#introdução {
    padding:8px;
}

section#imagens {
    padding: 8px;
}
section#imagens > h3 {
    background-image: linear-gradient(to right, rgba(41, 133, 79, 0.452), 5%, rgba(101, 201, 139, 0.39), 80%,rgba(254, 255, 254, 0.021));
}

img#dandroids {
    padding: 2px 0px;
    width: 100%;
    height: 266px;
    margin: auto;
}

img#irina {
    padding: 15px 0px;
    width: 100%;
    height: 283px;
    margin:auto;
}

img#bugdroid {
    padding: auto;
    max-width: 350px;
    height: 235px;
    margin: auto; 
    display: block;
}

a {
    color: rgb(5, 80, 34);
    font-weight: bold;
}
a.main:hover {
    color: rgb(0, 255, 42);
}

strong {
    color: rgb(5, 80, 34);
    font-weight: bold;
}

section#video {
    background-color: rgb(3, 51, 25);
    height: auto;
    width: 100%;
    margin: auto;
    padding-bottom: 59%;
    position: relative;
}

iframe {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    
}

aside {
    background-color: aliceblue;
    text-indent: 30px;
    padding: 8px;
    margin-top: 0px;
}

section#lista {
    background-color: rgb(139, 187, 160);
    margin: 0px 15px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.493);
}

section#lista > h2 {
    background-color: rgb(26, 121, 68);
    color: aliceblue;
    height: 30px;
    max-width: 754px;
    margin: -8px -8px 9px -8px;
    border-radius: 10px 10px 0px 0px;
    font-size: 14px;
    padding-top: 13px;
    position: static;
}


ul {
    list-style-position: inside;
    columns: 2;
    padding: 8px;
}

li {
    list-style-type: '\2714\FE0F\00A0';
    margin-left: -10px;
}

p#final {
    margin: 16px;
    text-align: justify;
}

footer {
    background-color:  rgb(3, 51, 25);
    text-align: center;
    margin: 20px -20px -16px 0px;
    padding: 5px;
    color: rgba(206, 212, 218, 0.712);
    font-size: 12px;
    font-weight: bold;
}

strong.rodape {
    color: aliceblue;
}